.category-filter {
  flex: 0 0 auto;
  max-width: 160px;
  align-self: flex-end;
  margin-top: 10px;
}

.category-select {
  padding: 0.50rem 1rem;
  border: 2px solid #e9ecef;
  border-radius: 25px;
  font-size: 1rem;
  color: #333;
  background: #f8f9fa;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 150px;
  border:1px solid #dbd9d9;
}

.category-select:focus {
  outline: none;
  border:1px solid #f6733b;
  background: white;
  box-shadow: 0 0 0 3px #e64d0b0b;
}

@media (max-width: 768px) {
  .category-select {
    min-width: 100%;
  }
}