.search-bar {
  position: relative;
  flex: 1;
  min-width: 250px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem 1rem 0.75rem 2.9rem;
  border: 1px solid #e9e9ea;
  border-radius: 7px;
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
  box-shadow: 2px 5px 10px 0 #0808081f;
  background: #f8f9fa;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  background: white;
  box-shadow: 0 0 0 3px rgba(0,123,255,0.1);
}

.search-icon {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.clear-search {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #6c757d;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.25rem;
}

.clear-search:hover {
  color: #333;
}

.serach_icon{
  color: #e64c0b;
}

@media (max-width: 768px) {
  .search-bar {
    min-width: 100%;
  }
}